@charset 'utf-8';

.brand-introduction figure {
    margin-top: 3rem;
}

/* logo */
.logo figure {
    width: 32rem;
    height: 32rem;
}

.brand-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23.7rem;
}

.logo .our-title {
    width: 69rem;
}

/* brewing-item */
.brewing-bg {
    background: url(../img/sub-brewing-bg1.jpg);
    width: 100%;
    height: 96.5rem;
    transition: 0.4s;
}

.brewing-item h3 {
    color: #fff;
    padding-top: 11.2rem;
}

.brewing-item h4 {
    color: #fff;
}

.brewing-item .sub-title {
    color: #fff;
}

.brewing-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9.6rem;
    gap: 2rem;
}

.brewing-flex button {
    width: 30rem;
    height: 30rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.4s;
}

.brewing-flex button:active,
.brewing-flex button.active {
    border: 2px solid #fff;
}

.brewing-flex figure {
    width: 8rem;
    height: 8rem;
}

.brewing-flex p {
    font-weight: 600;
    font-size: 2.5rem;
    color: #fff;
    margin-top: 2rem;
}

.brewing-flex figure img {
    object-fit: contain;
}

.brewing-text {
    width: 71rem;
}

.brewing-text-swiper {
    width: 71rem;
    height: 35rem;
}

/* 양조과정 아이콘 */

.brewing-icon-swiper {
    width: 13rem;
    height: 13rem;
    overflow: hidden;
}

.brewing-icon-swiper .swiper-wrapper {
    height: 13rem !important;
}

.brewing-icon-swiper .swiper-slide {
    height: 13rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brewing-icon {
    width: 13rem;
    height: 13rem;
    border: 3px solid var(--main-color);
    border-radius: 50%;
    padding: 3.5rem;
    cursor: pointer;
}

.brewing-icon figure {
    width: 6rem;
    height: 6rem;
}

.brewing-icon figure img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.brewing-icon-active {
    width: 17.5rem;
    height: 17.5rem;
    background: var(--main-color);
    border-radius: 50%;
    padding: 3.5rem;
    cursor: pointer;
}

.brewing-icon-active figure {
    width: 6rem;
    height: 6rem;
}

.swiper-slide {
    height: auto !important;
}
