@charset 'utf-8';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@font-face {
    font-family: "banner";
    src: url("../fonts/Amaranth-Regular.woff");
}
@font-face {
    font-family: "heineken";
    src: url("../fonts/HEINEKEN.woff");
}
@font-face {
    font-family: "visual";
    src: url("../fonts/SDSwaggerTTF.woff");
}

:root {
    --main-color: #11520b;
    --sub-color: #e3000f;
    --white100: #fff;
    --gray1: #555;
    --gray2: #c2c2c2;
    --gray3: #818181;
}

::selection {
    background: var(--main-color);
    color: #fff;
}

html {
    font-size: 62.5%;
}

body {
    font: 1.6rem/1.5 Pretendard, sans-serif;
    color: var(--text-color);
    text-transform: capitalize; /* ttc: 단어의 첫글자를 대문자로 */
    word-break: keep-all;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.hidden {
    position: absolute;
    margin: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

.inner {
    width: 140rem;
    margin: 0 auto;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#header {
    background: var(--main-color);
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.8rem 0 86rem;
    position: relative;
}

nav .header-logo {
    display: block;
    width: 11.8rem;
    height: 6rem;
    background: url(../img/gnb-logo.svg);
}

.gnb {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11.2rem;
}

.gnb li {
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
}

.header-icon {
    display: flex;
    gap: 4.2rem;
}

.lang {
    display: block;
    width: 2.9rem;
    height: 2.9rem;
    background: url(../img/gnb-lang.svg) no-repeat 0 0;
}

.search {
    display: block;
    width: 2.9rem;
    height: 2.9rem;
    background: url(../img/gnb-search.svg) no-repeat 0 0;
}
